---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../Layout.astro";
---

<Layout>
  <h1>Events</h1>
  <div class="grid_1_1_1">
    <div class="krusedulle_venstre">
      <img class="img1" src="medier/krudsedulle1.svg" alt="" />
    </div>
    <div class="beskrivelse">
      <p>
        Hos SKITSE vil du løbende kunne opleve skiftende billedkunstnere
        præsentere deres arbejde og deltage i ferniseringer. Bliv opdateret
        omkring aktuelle events herunder, eller følg med på Instagram og
        Facebook.
      </p>
    </div>

    <div class="krusedulle_højre">
      <img class="img2" src="medier/krudsedulle2.svg" alt="" />
    </div>
  </div>

  <div class="banner">
    <img src="medier/eventbillede1.webp" alt="billede fra event" />
    <img src="medier/eventbillede2.webp" alt="billede fra event" />
    <img src="medier/eventbillede3.webp" alt="billede fra event" />
  </div>

  <div class="grid_1_2">
    <img src="medier/eventbillede4.webp" alt="billede fra event" />
    <div>
      <h2>Skitse og vinsmagning</h2>
      <p>
        Kom og oplev en unik aften, hvor kunst og vin mødes i en inspirerende
        atmosfære hos Skitse. Vi inviterer dig til en eksklusiv vinsmagning,
        hvor du kan nyde en række udvalgte vine, mens du udforsker et bredt
        udvalg af kunstneres skitser. Det er en oplagt mulighed for at lære om
        den kreative proces bag hvert værk og møde kunstnerne personligt. Lad
        dig forføre af smagene og synene, og tag del i en aften fyldt med kultur
        og kulinariske oplevelser.
      </p>
      <p class="farve">
        Dato: 14. juni 2024 <br />Tid: 18:00 - 21:00 <br />Sted: Skitse
      </p>
    </div>
  </div>

  <div class="grid_1_2">
    <img src="medier/eventbillede5.webp" alt="billede fra event" />
    <div>
      <h2>Fra skitse til mesterværk</h2>
      <p>
        Deltag i vores inspirerende workshop, hvor du kan lære, hvordan en
        simpel skitse kan udvikle sig til et færdigt kunstværk. Under kyndig
        vejledning af professionelle kunstnere får du mulighed for at afprøve
        forskellige teknikker og materialer. Uanset om du er nybegynder eller
        erfaren kunstner, vil denne workshop give dig værdifuld indsigt og
        praktisk erfaring. Tag dine egne skitser med og få hjælp til at tage dem
        til det næste niveau.
      </p>
      <p class="farve">
        Dato: 28. juni 2024 <br />Tid: 10:00 - 16:00 <br />Sted: Skitse
      </p>
    </div>
  </div>

  <div class="grid_1_2">
    <img src="medier/eventbillede6.webp" alt="billede fra event" />
    <div>
      <h2>Kunstner Talk: Rejsen fra Skitse til Udstillingsværk</h2>
      <p>
        Få et unikt indblik i den kreative proces, når vi inviterer en anerkendt
        kunstner til en spændende talk hos Skitse. Kunstneren vil dele sine
        personlige erfaringer og tanker om, hvordan deres skitser udvikler sig
        til færdige værker, der ender på gallerivægge og i private samlinger.
        Der vil være mulighed for spørgsmål og dialog, så du kan få svar på alt,
        hvad du ønsker at vide om kunstnerens arbejde og proces.
      </p>
      <p class="farve">
        Dato: 12. juli 2024 <br />Tid: 19:00 - 21:00 <br />Sted: Skitse
      </p>
    </div>
  </div>
</Layout>

<style>
  h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 50;
  }

  .beskrivelse {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    font-size: 22px;
  }

  .banner {
    display: none;
  }

  .grid_1_2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
  }

  .grid_1_2 img {
    padding-bottom: 40px;
  }

  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .img1,
  .img2 {
    display: none;
  }
  .farve {
    color: #6388c4;
  }

  @media (min-width: 800px) {
    .banner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
      padding: 0 15px 40px 15px;
    }

    .grid_1_2 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding-left: 70px;
      padding-right: 70px;
      padding-top: 50px;
      gap: 60px;
    }

    .grid_1_2 p,
    h2 {
      padding-top: 30px;
      width: 70%;
      padding-left: 90px;
    }
    .grid_1_2 p {
      font-size: 18px;
    }

    .img1,
    .img2 {
      display: block;
      height: 180px;
    }
  }
</style>
