---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../Layout.astro";
import KnapKurv from "../components/Knap_kurv.astro";
import "/src/styles/general.css";
---

<Layout>
  <h1>Gemte skitser</h1>

  <div class="grid_1_1_1">
    <div class="gemte">
      <div class="image-container">
        <img src="/medier/gemt1.webp" alt="likede billeder" class="main_img" />
        <img src="/medier/fyldt_hjerte.webp" alt="hjerte" class="heart_img" />
      </div>
      <p>Peter Vos Knude</p>
      <div class="info">
        <p class="størrelse">29,6 x 42 cm</p>
        <p class="pris">2.499 kr</p>
      </div>
      <div class="knapcontainer">
        <KnapKurv />
      </div>
    </div>

    <div class="gemte">
      <div class="image-container">
        <img src="/medier/gemt2.webp" alt="likede billeder" class="main_img" />
        <img src="/medier/fyldt_hjerte.webp" alt="hjerte" class="heart_img" />
      </div>
      <p>Agnete Bertram</p>
      <div class="info">
        <p class="størrelse">37 x 29 cm</p>
        <p class="pris">2.499 kr</p>
      </div>
      <div class="knapcontainer">
        <KnapKurv />
      </div>
    </div>

    <div class="gemte">
      <div class="image-container">
        <img src="/medier/gemt3.webp" alt="likede billeder" class="main_img" />
        <img src="/medier/fyldt_hjerte.webp" alt="hjerte" class="heart_img" />
      </div>
      <p>Peter Vos Knude</p>
      <div class="info">
        <p class="størrelse">20,9 x 29,6 cm</p>
        <p class="pris">2.499 kr</p>
      </div>
      <div class="knapcontainer">
        <KnapKurv />
      </div>
    </div>

    <div class="gemte">
      <div class="image-container">
        <img src="/medier/gemt4.webp" alt="likede billeder" class="main_img" />
        <img src="/medier/fyldt_hjerte.webp" alt="hjerte" class="heart_img" />
      </div>
      <p>Johanne Rude</p>
      <div class="info">
        <p class="størrelse">19 x 27 cm</p>
        <p class="pris">2.499 kr</p>
      </div>
      <div class="knapcontainer">
        <KnapKurv />
      </div>
    </div>

    <div class="gemte">
      <div class="image-container">
        <img src="/medier/gemt5.webp" alt="likede billeder" class="main_img" />
        <img src="/medier/fyldt_hjerte.webp" alt="hjerte" class="heart_img" />
      </div>
      <p>Ditte Marie Frost</p>
      <div class="info">
        <p class="størrelse">30 x 40 cm</p>
        <p class="pris">2.499 kr</p>
      </div>
      <div class="knapcontainer">
        <KnapKurv />
      </div>
    </div>

    <div class="gemte">
      <div class="image-container">
        <img src="/medier/gemt6.webp" alt="likede billeder" class="main_img" />
        <img src="/medier/fyldt_hjerte.webp" alt="hjerte" class="heart_img" />
      </div>
      <p>Moa Alskog</p>
      <div class="info">
        <p class="størrelse">29 x 38 cm</p>
        <p class="pris">2.499 kr</p>
      </div>
      <div class="knapcontainer">
        <KnapKurv />
      </div>
    </div>
  </div>
</Layout>

<style>
  h1 {
    padding-top: 50px;
  }

  .image-container {
    padding-top: 90px;
    position: relative;
    display: inline-block;
  }

  .main_image {
    width: 250px;
    padding-top: 100px;
  }

  img.heart_img {
    width: 25px;
    height: 22px;
    position: absolute;
    top: 100px; /* Juster efter behov */
    right: 10px; /* Juster efter behov */
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 300px;
    text-decoration: none;
    padding-bottom: 20px;
  }

  .pris {
    color: var(--farve3);
  }

  .størrelse {
    color: var(--farve2);
  }

  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .knapcontainer {
    display: flex;
    justify-content: center;
    width: 100%; /* Sikrer at containeren fylder hele bredden */
  }

  @media (min-width: 800px) {
    .grid_1_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
    }
  }
</style>
