---
import KnapIndlaes from "../components/Knap_indlaes.astro";
import KnapKurv from "../components/Knap_kurv.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Filtering from "../components/Filtrering.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../Layout.astro";
import Toppen from "../components/toppen.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Layout>
      <div class="grid_1_1_1_1">
        <div class="forsidetekst">
          <p class="forsidetekst1">SKITSE. En kunstbutik</p>
          <p class="forsidetekst2">Vi vil gerne gøre det let at købe kunst.</p>
        </div>
        <img class="fs_billede1" src="/medier/forsidebillede1.png" alt="" />
        <img class="fs_billede2" src="medier/forsidebillede2.png" alt="" />
        <img class="fs_billede3" src="medier/forsidebillede3.png" alt="" />
        <img class="fs_billede4" src="medier/forsidebillede4.png" alt="" />
      </div>

      <div class="grid_1_1_1">
        <div>
          <img class="behold1" src="medier/krudsedulle1.svg" alt="" />
          <img class="slet1" src="medier/krudsedulle2.svg" alt="" />
        </div>
        <div class="om_skitse">
          <h1>Om Skitse</h1>
          <p>
            SKITSE er et indblik i kunstens verden, som man ikke får andre
            steder. Vi sælger kunstneres skitser, eksperimenter og forsøg, fordi
            vi mener, at de udgør en vigtig del af kunsten selv. Gennem
            skitserne får man unik adgang til de kunstneriske arbejdsprocesser,
            og vi håber dermed, at SKITSE er med til at gøre kunsten tilgængelig
            for flere.
          </p>
        </div>

        <div class="krudsedulle_hojre">
          <img class="slet2" src="medier/krudsedulle3.svg" alt="" />
          <img class="behold2" src="medier/krudsedulle4.svg" alt="" />
        </div>
      </div>
      <section class="cards">
        <div class="card">
          <a href="/skitser">
            <img
              src="medier/skitse2.webp"
              alt="Billede af en merch"
              class="img_merch"
            />
          </a>
          <hr />
          <div class="link_forside">
            <a href="/skitser" class="forside_link">Skitser</a>
            <img src="medier/pil.svg" alt="Pil" class="pil" />
          </div>
          <hr />
        </div>

        <div class="card">
          <a href="/kunstnere">
            <img
              src="medier/kunstnere_link.webp"
              alt="Billede af en merch"
              class="img_merch"
            />
          </a>
          <hr />
          <div class="link_forside">
            <a href="/kunstnere" class="forside_link">Kunstnere</a>
            <img src="medier/pil.svg" alt="Pil" class="pil" />
          </div>
          <hr />
        </div>

        <div class="card">
          <a href="/events">
            <img
              src="medier/events_link.webp"
              alt="Billede af en merch"
              class="img_merch"
            />
          </a>
          <hr />
          <div class="link_forside">
            <a href="/events" class="forside_link">Events</a>
            <img src="medier/pil.svg" alt="Pil" class="pil" />
          </div>
          <hr />
        </div>

        <div class="card">
          <a href="/om">
            <img
              src="medier/om_os.webp"
              alt="Billede af en merch"
              class="img_merch"
            />
          </a>
          <hr />
          <div class="link_forside">
            <a href="/om" class="forside_link">Om os</a>
            <img src="medier/pil.svg" alt="Pil" class="pil" />
          </div>
          <hr />
        </div>
      </section>

      <Nyhedsbrev />
    </Layout>
  </body>
</html>
<style>
  body {
    background-color: #fffbf6;
    overflow-x: hidden;
  }
  .forsidetekst1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  .forsidetekst {
  }
  .forsidetekst2 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
  }

  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .grid_1_1_1 img {
    width: 60%;
  }

  .om_skitse p {
    font-size: 18px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 40%;
  }

  .slet1,
  .slet2 {
    display: none;
  }

  img.behold1 {
    position: absolute;
    height: 300px;
    transform: rotate(-65deg);
    top: 190vw;
    left: -35vw;
  }

  img.behold2 {
    position: absolute;
    height: 300px;
    transform: rotate(120deg);
    top: 215vw;
    left: 65vw;
  }

  .grid_1_1_1_1 img {
    width: 200px;
  }
  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .forsidetekst {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .fs_billede1 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 30px;
  }
  .fs_billede2 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 560px;
  }
  .fs_billede3 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 310px;
  }
  .fs_billede4 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 220px;
  }
  h1 {
    margin-top: 100px;
  }

  .img_merch {
    width: 90%;
    height: 300px;
    object-fit: cover;
    padding-bottom: 20px;
  }

  .forside_link {
    color: var(--farve2);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0 10px 0;
  }

  .link_forside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .pil {
    width: 30px;
    object-fit: fill;
    padding: 10px 0 10px 0;
  }

  hr {
    width: 180px;
  }

  .card {
    padding: 10px;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  @media (min-width: 800px) {
    .forsidetekst1 {
      font-size: 60px;
      margin: 110px 20px 0 80px;
    }

    .forsidetekst2 {
      font-size: 40px;
      margin-left: 80px;
    }

    .grid_1_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .grid_1_1_1 img {
      width: 70%;
    }

    .grid_1_1_1_1 img {
      width: 400px;
    }

    .slet1 {
      display: block;
    }
    .slet2 {
      display: block;
      position: absolute;
      height: 220px;
      transform: rotate(100deg);
      left: 57vw;
      top: 90vw;
    }
    img.behold1 {
      position: absolute;
      height: 300px;
      transform: rotate(-65deg);
      top: 90vw;
      left: -35vw;
    }

    img.behold2 {
      position: absolute;
      height: 250px;
      transform: rotate(120deg);
      top: 97vw;
      left: 60vw;
    }
    .grid_1_1_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 40px;
      margin-left: 30px;
      margin-right: 30px;
    }
    .forsidetekst {
      grid-column: 1/4;
      grid-row: 1/2;
    }
    .fs_billede1 {
      grid-column: 4/5;
      grid-row: 1/2;
    }
    .fs_billede2 {
      grid-column: 3/4;
      grid-row: 1.5/3;
      padding-top: 400px;
    }
    .fs_billede3 {
      grid-column: 4/5;
      grid-row: 1/3;
      padding-top: 550px;
    }
    .fs_billede4 {
      grid-column: 2/3;
      grid-row: 1/2;
      padding-top: 550px;
    }
    h1 {
      margin-top: 100px;
    }
    .om_skitse p {
      font-size: 22px;
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 70px;
    }
    .img_merch {
      width: 250px;
      height: 370px;
      object-fit: cover;
      padding-bottom: 20px;
    }

    .forside_link {
      color: var(--farve2);
      text-decoration: none;
      font-size: 30px;
      padding: 10px 0 10px 0;
    }

    .link_forside {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 250px;
    }

    .pil {
      width: 30px;
      object-fit: fill;
      padding: 10px 0 10px 0;
    }

    hr {
      width: 250px;
    }

    .card {
      padding: 10px;
    }
    .cards {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      place-items: center;
      margin: 20px 70px 20px 70px;
    }
    .krudsedulle_hojre {
    }
  }
</style>
