---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../Layout.astro";
import KnapIndlaes from "../components/Knap_indlaes.astro";
---

<Layout>
  <h1>Kunstnere</h1>

  <div class="grid_1_1_1">
    <div class="billede1">
      <img src="/kunstner1.webp" alt="billede af kunstner1" />
      <p>Arendse Krabbe</p>
    </div>
    <div class="billede2">
      <img src="/kunstner2.webp" alt="billede af kunster2" />
      <p>Silas Inue</p>
    </div>
    <div class="billede3">
      <img src="/kunstner3.webp" alt="billede af kunster3" />
      <p>Ida Retz Wessberg</p>
    </div>
    <div class="billede4">
      <img src="/kunstner4.webp" alt="billede af kunstner4" />
      <p>Marie Edinger Plum</p>
    </div>
    <div class="billede5">
      <img src="/kunstner5.webp" alt="billede af kunstner5" />
      <p>Ida Sønder Thorhauge</p>
    </div>
    <div class="billede6">
      <img src="/kunstner6.webp" alt="billede af kunstner6" />
      <p>Ditte Ejlerskov</p>
    </div>
    <div class="billede7">
      <img src="/kunstner7.webp" alt="billede af kusnter7" />
      <p>Nicky Sparre-Ulrick</p>
    </div>
    <div class="billede8">
      <img src="/kunstner8.webp" alt="billede af kunstner8" />
      <p>Martha Hviid</p>
    </div>
    <div class="billede9">
      <img src="/kunstner9.webp" alt="billede af kunstner9" />
      <p>Jon Erik Nyholm</p>
    </div>
    <div class="billede10">
      <img src="/kunstner10.webp" alt="billede af kunstner10" />
      <p>Malene Landgreen</p>
    </div>
    <div class="billede11">
      <img src="/kunstner11.webp" alt="billede af kunstner11" />
      <p>Emily Gernild</p>
    </div>
  </div>
</Layout>

<style>
  h1 {
    text-align: center;
    padding-bottom: 40px;
    font-family: "Paytone One", sans-serif;
  }

  p {
    text-align: center;
  }

  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
  }

  .grid_1_1_1 > div {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* Bevarer kvadratisk form ved at gøre højden lig med bredden */
  }

  .grid_1_1_1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Sørger for at billedet udfylder kvadratet */
  }

  .grid_1_1_1 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fffbf6;
    text-shadow: 2px 2px 16px #293750;
    font-size: 30px;
    text-align: center;
  }

  @media (min-width: 800px) {
    .grid_1_1_1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .billede1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    .billede2 {
      grid-column: 3 / 3;
      grid-row: 1 / 2;
    }

    .billede3 {
      grid-column: 1 / 1;
      grid-row: 2 / 3;
    }

    .billede4 {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }

    .billede5 {
      grid-column: 1 / 1;
      grid-row: 3 / 4;
    }

    .billede6 {
      grid-column: 2 / 2;
      grid-row: 3 / 4;
    }

    .billede7 {
      grid-column: 3 / 3;
      grid-row: 3 / 4;
    }

    .billede8 {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
    }

    .billede9 {
      grid-column: 3 / 3;
      grid-row: 4 / 5;
    }

    .billede10 {
      grid-column: 1 / 1;
      grid-row: 5 / 6;
    }

    .billede11 {
      grid-column: 2 / 4;
      grid-row: 5 / 6;
    }

    .grid_1_1_1 > div {
      padding-top: 50%;
      /* Bevarer kvadratisk form ved at gøre højden lig med bredden */
    }
  }
</style>
