---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../Layout.astro";
---

<Layout>
  <h1>Kurv</h1>
  <div class="grid_2_1">
    <div class="grid_1_1_1">
      <div>
        <img src="medier/gemt1.webp" alt="billede af værk" />
      </div>
      <div class="info">
        <h2>Peter Voss-Knude</h2>
        <p class="pris">2.499 kr</p>
        <p class="antal">1 stk</p>
      </div>
      <div>
        <img class="kryds" src="medier/kryds.webp" alt="kryds" />
      </div>
    </div>

    <hr class="overst" />

    <div class="grid_1_1">
      <div>
        <p>Ordreværdi</p>
        <p>Levering</p>
        <p class="stor">TOTAL</p>
      </div>
      <div>
        <p>2.499 DKK</p>
        <p>50 DKK</p>
        <p class="stor">2.549 DKK</p>
      </div>
    </div>

    <hr class="nederst" />

    <div class="knapcontainer">
      <div class="knap">
        <p>TIL BETALING</p>
      </div>
    </div>
  </div>
</Layout>

<style>
  h1 {
    font-family: "Paytone One", sans-serif;
    padding-bottom: 40px;
  }

  h2 {
    width: 160px;
  }

  .overst {
    margin-top: 300px;
  }

  .nederst {
    margin-top: 50px;
  }

  img {
    width: 200px;
    padding-left: 30px;
  }

  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 40px;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    justify-items: center;
  }

  .grid_1_1 p {
    font-weight: bold;
  }
  p.stor {
    font-size: 18px;
    padding-top: 13px;
  }

  .kryds {
    width: 20px;
  }

  .pris {
    color: var(--farve3);
  }
  .info {
    padding-left: 30px;
  }

  .antal {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Tilføj en lille smule skygge */
    padding: 6px 20px; /* Juster padding efter behov */
    font-weight: bold;
    font-size: 16px; /* Juster skriftstørrelse efter behov */
    text-align: center; /* Centrer teksten */
    border-radius: 5px; /* Tilføjer afrundede hjørner, juster efter behov */
    margin: 0; /* Fjern standard margin */

    margin-top: 30px;
  }

  .knap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .knap p {
    color: #293750;
    background-color: #9dc4ff;
    font-family: "Inter", sans-serif;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
  }

  .knap p:hover {
    color: #fffbf6;
    background-color: #293750;
  }

  @media (min-width: 800px) {
    h2 {
      width: 230px;
    }
    .grid_2_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .knap-container {
      grid-column: span 2; /* Gør at knappen strækker sig over begge kolonner */
      justify-content: center;
    }

    .overst,
    .nederst {
      display: none;
    }

    .knap {
      display: flex;
      justify-content: right;
      align-items: center;
      margin-right: 300px;
      top: 100px;
    }

    .knapcontainer {
      grid-column: span 2;
      margin-top: -100px;
      padding-bottom: 80px;
    }
  }
</style>
