---
import Layout from "../Layout.astro";
---

<Layout>
    <div class="grid_1_1_1">
        <div>
            <img src="medier/krudsedulle1.svg" alt="">
            <img src="medier/krudsedulle2.svg" alt="">
        </div>
    <div class="om_skitse">
    <h1>Om Skitse</h1>
    <p>SKITSE er et indblik i kunstens verden, som man ikke får andre steder. Vi sælger kunstneres skitser, eksperimenter og forsøg, fordi vi mener, at de udgør en vigtig del af kunsten selv. Gennem skitserne får man unik adgang til de kunstneriske arbejdsprocesser, og vi håber dermed, at SKITSE er med til at gøre kunsten tilgængelig for flere.</p>
    </div>
    
    <div class="krudsedulle_hojre">
        <img src="medier/krudsedulle3.svg" alt="">
        <img src="medier/krudsedulle4.svg" alt="">
    </div>
    </div>

</Layout>

<style>
    .grid_1_1_1{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			padding-top: 100px;
			padding-bottom: 100px;
		}
		.grid_1_1_1 img{
			width: 70%;
</style>