---

---

<button class="button">Læg i kurv</button>

<style>
  .button {
    background-color: var(--farve4); /* Lys blå farve */
    color: var(--farve1); /* Sort tekst */
    font-family:;
    border: none; /* Ingen kant */
    padding: 10px 32px; /* Puder omkring teksten */
    text-align: center; /* Centrering af teksten */
    text-decoration: none; /* Ingen tekstdekoration */
    display: inline-block; /* Inline-block element */
    font-size: 16px; /* Tekststørrelse */
    margin: 4px 2px; /* Margin omkring knappen */
    cursor: pointer; /* Skift cursor ved hover */
  }

  .button:hover {
    background-color: var(--farve3); /* Lys blå farve */
    color: var(--baggrund); /* Sort tekst */
  }
</style>
