---

---
<div>Læg i kurv</div>

<style>
    div{
        width: 80px;
;
color: #293750;
    background-color: #9DC4FF;
padding: 20px 40px 20px 40px;
font-family: "Inter", sans-serif;
font-size: 20px;
display: inline;
    }
</style>