---

---

<div>
  <button class="button">Indlæs mere</button>
</div>
<style>
  .button {
    color: #fffbf6;
    background-color: #293750;
    border: none; /* Ingen kant */
    padding: 15px 32px; /* Puder omkring teksten */
    text-align: center; /* Centrering af teksten */
    text-decoration: none; /* Ingen tekstdekoration */
    display: inline-block; /* Inline-block element */
    font-size: 16px; /* Tekststørrelse */
    cursor: pointer; /* Skift cursor ved hover */
  }

  div {
    display: flex;
    justify-content: center; /* Centrerer vandret */
    align-items: center; /* Centrerer lodret */
    margin-top: 100px;
    margin-left: 15%;
  }
  .button:hover {
    background-color: var(--farve4); /* Lys blå farve */
    color: var(--farve1); /* Sort tekst */
  }
</style>
