---

---

<div class="knap">
  <div>Indlæs mere</div>
</div>

<style>
  .knap {
    display: grid;
    place-items: center;
  }

  .knap div {
    width: 190px;
    color: #fffbf6;
    background-color: #293750;
    padding: 20px 40px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    white-space: nowrap;
    display: inline-block; /* Ændret fra 'inline' til 'inline-block' */
  }

  .knap div:hover {
    color: #293750;
    background-color: #9dc4ff;
  }
</style>
